.banner-txt{
	display: block;
	color: #222;
	text-transform: uppercase;
}

.banner-txt_lvl1{
	font-weight: 900;
	font-size: 48px;
	line-height: 58px;
}

.banner-txt_lvl2{
	font-weight: 700;
	font-size: 32px;
    line-height: 38px;
}

.banner-txt_color{
	color: #f16d7f;
}

@media (max-width: 768px) {
	.banner-txt_lvl1{
		font-size: 44px;
		line-height: 53px;
	}

	.banner-txt_lvl2{
		font-size: 24px;
		line-height: 29px;
	}
}